<!DOCTYPE html>
<html>
<head>
    <title>URBN THTR- Homepage</title>
    <link rel="stylesheet" type="text/css" href='/style/style.css'/>
    <script src="https://kit.fontawesome.com/5c96ea65b6.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
    <header>
        <div class="navigator">
            <div class="dropdown">
                <button class="menuitem"><i class="fa-solid fa-bars"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="theatre.html">Book Seats</a>
                </div>
                
            </div>
            <h1 class="titl"><a href="home.html">URBN THTR</a> </h1>
            <div class='dropdownprofile'>
                <a href='profile.html' class="profileitem"><img src='/img/profilepic.JPG' alt="Avatar" class="avatar"></a>
                <div class="dropdown-content2">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
    
        </div>
    </header>
   
    <div class="background">
        <img src="/img/moviepop.jpeg" class="background">
        <button class="search" onclick="location.href= 'Movie.html'">Movie Search</button>
        <button class="seats" onclick="location.href= 'Update.html'">Update Seats & Tickets</button>
    </div>
   
</body>
</html>
